<!DOCTYPE html>
<html>
<head>
    <title>MasterError</title>
    <!-- Tailwind CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4" rel="stylesheet"> -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0">

    {% block css %}{% endblock %}
</head>
<body>
    
    {% block content %}{% endblock %}
    <footer>

    </footer>
    {% block js %}{% endblock %}
</body>
</html>
